@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0; /* Global padding reset */
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

:root {
  --bg-color: #333333;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #3a393b;
  --about-me-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h4 {
  font-size: 3em;
  padding: 10px; /* Set to 10px for consistency */
  line-height: 1.2; /* Adjust the line-height for better vertical alignment */
}

section {
  min-height: 100vh;
  padding: 10rem 12%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  display: inline-block;
  width: 100%;
  font-size: 3em; /* Match font size with h4 */
  line-height: 1.2; /* Adjust the line-height */
  height: 1em; /* Adjust height based on the text size */
  white-space: nowrap;
  margin: 0; /* Remove margin */
  /* Set padding to 10px for consistency */
  overflow: hidden;
  animation: fadeInUp 2s ease-in-out;
  margin: 13px;
}

.skills {
  background-color: var(--bg-color);
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr; /* One column layout */
  grid-template-rows: repeat(
    auto-fit,
    minmax(100px, auto)
  ); /* Stack items vertically */
  align-items: center;
  gap: 2.5rem;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.skill-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.skill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5rem;
}

.skill-info i {
  font-size: 8rem;
}

.skill-info h4 {
  margin: 2rem 0;
  font-weight: 800;
}

.skill-info ul {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.skill-info li {
  text-align: left;
}

.footer {
  background-color: var(--bg-color);
  padding: 10px 0;
  margin-top: 10px;
}

.footer .social-buttons {
  text-align: center;
  padding: 20px;
}
i {
  font-size: 5rem;
  padding: 10px;
}

footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 52vw;
  }

  .contact form {
    flex-direction: column;
  }
  nav ul li a {
    font-size: 6em; /* Adjust the size as needed */
    opacity: 1; /* Ensure nav items are visible */
    pointer-events: auto; /* Ensure nav items are clickable */
  }
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus,
.social-button:hover {
  color: #fff;
}
.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 25.6px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}

.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--youtube {
  color: #ff0a02;
}
.social-button--youtube::after {
  background: #ff0a02;
}

.container {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: white;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: fixed;
  width: 100%;
  height: 30px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -200vw;
  z-index: 100;
  top: 0;
  bottom: 0;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 5px;
  padding: 20px;
}

nav ul li a {
  color: #fafafa;
  font-size: 4em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.3s ease;
}
nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: rgb(209, 3, 3);
}
/* Animation 1 */
#textSlider.row {
  margin-top: 20vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
}
#textSlider div {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.slideCol {
  overflow: hidden;
  font-weight: 900;
  font-size: 5em;
  display: block;
  white-space: nowrap;
  text-align: end;
}
.slideCol p {
  margin: 0px !important;
}

.scroller {
  height: 70pt;
  line-height: 70pt;
  overflow: hidden;
}
.scroller .inner {
  animation: 10s normal infinite running scroll;
}
@keyframes scroll {
  0% {
    margin-top: 0px;
  }
  15% {
    margin-top: 0px;
  }

  25% {
    margin-top: -70pt;
  }
  40% {
    margin-top: -70pt;
  }

  50% {
    margin-top: -140pt;
  }
  65% {
    margin-top: -140pt;
  }

  75% {
    margin-top: -210pt;
  }
  90% {
    margin-top: -210pt;
  }

  100% {
    margin-top: 0px;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: center;
    font-size: 20pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 25pt;
    text-align: center;
    margin-top: -20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 765px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: center;
    font-size: 25pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 38pt;
    text-align: center;
    margin-top: -20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: center;
    font-size: 30pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 50pt;
    text-align: center;
    margin-top: 5px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: right;
    font-size: 30pt;
  }
  .slideCol {
    font-size: 55pt;
    text-align: left;
  }
}

/* Animation 2 */
.logo-container {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
    height: 4px;
    background-color: #cf0000;
    transform-origin: center center;
    transform: scaleX(0);

    animation: line-animation 3s ease infinite alternate;
  }

  h1#page-logo {
    font: bold 6rem "Arial", sans-serif;

    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
  h2#page2-logo {
    font: bold 6rem "Arial", sans-serif;

    animation: clip-path-reveal-1 6s ease infinite alternate;
  }
}

@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  70% {
    transform: scaleX(0.2);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
}

@keyframes clip-path-reveal-1 {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
