/* General reset and body styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: wheat;
  width: 100%;
}
.header {
  /* display: inline-block; */
  max-width: 20%;
  color: #fd4d4f;
  font-size: 2em;
  font-weight: bolder;
  z-index: 500;
  position: sticky;
  text-align: center;
  margin: 0 auto;
}

/* [type="radio"] {
  display: none;
}

#slider {
  height: 25vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: 100%;
  overflow: hidden;
}


#slider label {
  margin: auto;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}


#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 6px 1px 4px 10px rgba(0, 0, 0, 0.37);
  -moz-transform: translate3d(-40%, 0, -200px);
  -webkit-transform: translate3d(-40%, 0, -200px);
  transform: translate3d(-40%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.3),
    6px 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(40%, 0, -200px);
  -moz-transform: translate3d(40%, 0, -200px);
  -webkit-transform: translate3d(40%, 0, -200px);
}


#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 6px 13px 25px 10px rgba(0, 0, 0, 0.3),
    6px 11px 7px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 200;
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.3),
    6px 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
  -moz-transform: translate3d(-20%, 0, -100px);
  -webkit-transform: translate3d(-20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 6px 10px 10px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
  -moz-transform: translate3d(20%, 0, -100px);
} */
.card {
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #ffa533;
  text-align: center;
  border-radius: 25px;
  position: relative;
}
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  font-size: 0px;
  width: 280px;
  height: 270px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.carousel__item:nth-child(1) {
  background: url(image/E_WEB_11.png);
  background-size: contain;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.carousel__item:nth-child(2) {
  background: url(image/E_WEB_03.png);
  background-size: contain;
}

.carousel__item:nth-child(3) {
  background: url(image/E_WEB_02.png);
  background-size: contain;
}

.carousel__item:nth-child(4) {
  background: url(image/E_WEB_01.png);
  background-size: contain;
}

.carousel__item:nth-child(5) {
  background: url(image/E_WEB_17.png);
  background-size: contain;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"],
.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"],
.carousel__item[data-pos="0"] {
  box-shadow: 0 20px 50px 7px rgba(0, 0, 0);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
/* @media (max-width: 480px) {
  .carousel__item {
    width: 200px;
    height: 170px;
  }

  .carousel__item[data-pos="-1"] {
    transform: translateX(-30%) scale(0.8);
  }

  .carousel__item[data-pos="1"] {
    transform: translateX(30%) scale(0.8);
  }

  .carousel__item[data-pos="-2"] {
    transform: translateX(-50%) scale(0.7);
  }

  .carousel__item[data-pos="2"] {
    transform: translateX(50%) scale(0.7);
  }
} */
/* Adding animation for the card background */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 104%;
  background-image: conic-gradient(
    from var(--angle),
    #fa1004,
    #fd06d4,
    #2206fd,
    #a603fe,
    #1982c4
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 30px;
  animation: 3s spin linear infinite; /* Matching the second animation */
}
.card::before {
  border-radius: 30px;
  filter: blur(1.5rem); /* Similar blur */
  opacity: 0.5; /* Matching the opacity */
}
main {
  color: black;
  font-size: 2em;
  padding: 10vh 10vw 0vh 10vw;
  text-align: right; /* Aligns text to the right */
  min-height: 10vh; /* Adjust the minimum height for better spacing */
}
main h1 {
  padding-top: 10vh;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%); /* Start hidden elements slightly below */
  transition: all 1s; /* Smooth fade and slide-in */
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0); /* Smooth slide-in effect */
}
main p {
  font-size: 1em; /* Smaller size for paragraphs */
}
@media (prefers-reduces-motion) {
  .hidden {
    transition: none;
  }
}

/* Spin animation keyframe */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Media Queries for Mobile Responsiveness */

/* Adjusting for large screens */
@media (min-width: 1024px) {
  #slider {
    height: 25vw;
  }

  body {
    background-color: #e9dcc9;
  }

 

  .card {
    width: 300px;
    padding: 2em;
  }
  .header {
    color: #fd4d4f;
    font-size: 2em;
    font-weight: bolder;
    z-index: 500;
    position: sticky;
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Adjusting for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #e9dcc9;
    padding-top: 20%;
    margin: 0;
  }

  .card {
    width: 500px;
    font-size: 2em;
    margin-top: 30%;
  }
  nav ul li a {
    font-size: 3em; /* Adjust the size as needed */
    opacity: 1; /* Ensure nav items are visible */
    pointer-events: auto; /* Ensure nav items are clickable */
  }
  .carousel__item {
    width: 530px;
    height: 500px;
  }

  .carousel__item[data-pos="-1"] {
    transform: translateX(-30%) scale(0.8);
  }

  .carousel__item[data-pos="1"] {
    transform: translateX(30%) scale(0.8);
  }

  .carousel__item[data-pos="-2"] {
    transform: translateX(-50%) scale(0.7);
  }

  .carousel__item[data-pos="2"] {
    transform: translateX(50%) scale(0.7);
  }
  .header {
    color: #fd4d4f;
    font-size: 2em;
    font-weight: bolder;
    z-index: 500;
    position: sticky;
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Adjusting for small screens */
@media (max-width: 767px) {

  body {
    background-color: white;
  }
  .card {
    width: 280px;
    padding: 1em;
  }
}

/* Very small screens */
@media (max-width: 480px) {
  body {
    background-color: white;
  }
  .card {
    width: 180px;
    padding: 1em;
  }
}

.container {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: black;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: black;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: fixed;
  width: 100%;
  height: 30px;
  background: #f7f4e3;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -200vw;
  z-index: 100;
  top: 0;
  bottom: 0;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 5px;
  padding: 20px;
}

nav ul li a {
  color: #fd4d4f;
  font-size: 4em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fd4d4f;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.1s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fd4d4f;
  font-weight: bolder;
  font-size: 4em;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: black;
  transition: background 0.1s ease;
}
nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: rgb(209, 3, 3);
}

/* Ensure the carousel images have a lower z-index */

/* Footer icons */
.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: black;
}

.wrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.share {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #353c4a;
  border: 0.2rem solid black;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}

.share:last-child {
  margin-right: 0;
}

.share:focus {
  outline-color: inherit;
}

.linkedin:hover,
.linkedin:focus {
  color: #00aced;
  box-shadow: 0 0 24px 0 #00aced;
  background-color: #00aced;
}

.youtube:hover,
.youtube:focus {
  color: #cd201f;
  box-shadow: 0 0 24px 0 #cd201f;
  background-color: #cd201f;
}

.instagram:hover,
.instagram:focus {
  color: #e4405f;
  box-shadow: 0 0 24px 0 #e4405f;
  background-color: #e4405f;
}
