/* General reset and body styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  margin: 0 auto;
  width: 300px;
  background: #ffcc00  ;
  text-align: center;
  border-radius: 25px;
  position: relative;
}

.bold-orange {
  font-weight: bold;
  color: orange;
}

.underline-pseudo {
  font-weight: bold;
  color: orange;
    display: inline-block;
    border-bottom: 2px solid #000; /* Adjust color and thickness as needed */
    padding-bottom: 1px; /* Space between text and underline */
  }


.carousel {
  padding: 5%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 280px;
  height: 270px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.carousel__item:nth-child(1) {
  background: url(image/E_WEB_11.png);
  background-size: contain;
}

.carousel__item:nth-child(2) {
  background: url(image/E_WEB_03.png);
  background-size: contain;
}

.carousel__item:nth-child(3) {
  background: url(image/E_WEB_02.png);
  background-size: contain;
}

.carousel__item:nth-child(4) {
  background: url(image/E_WEB_01.png);
  background-size: contain;
}

.carousel__item:nth-child(5) {
  background: url(image/E_WEB_17.png);
  background-size: contain;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"],
.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"],
.carousel__item[data-pos="0"] {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
/* Adding animation for the card background */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 104%;
  background-image: conic-gradient(
    from var(--angle),
    #fa1004,
    #fd06d4,
    #2206fd,
    #a603fe,
    #1982c4
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 30px;
  animation: 3s spin linear infinite; /* Matching the second animation */
}
.card::before {
  border-radius: 30px;
  filter: blur(1.5rem); /* Similar blur */
  opacity: 0.5; /* Matching the opacity */
}
main {
  color: black;
  font-size: 2em;
  padding: 10vh 10vw 0vh 10vw;
  text-align: right; /* Aligns text to the right */
  min-height: 10vh; /* Adjust the minimum height for better spacing */
}
main h1 {
  padding-top: 5vh;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%); /* Start hidden elements slightly below */
  transition: all 1s; /* Smooth fade and slide-in */
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0); /* Smooth slide-in effect */
}
main p {
  font-size: 1em; /* Smaller size for paragraphs */
}
@media (prefers-reduces-motion) {
  .hidden {
    transition: none;
  }
}

/* Spin animation keyframe */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Media Queries for Mobile Responsiveness */

/* Adjusting for large screens */
@media (min-width: 1024px) {
  body {
    background-color: #effffa;
  }

  .card {
    width: 300px;
    padding: 2em;
  }
}

/* Adjusting for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #effffa;
    padding-top: 20%;
    margin: 0;
  }

  .card {
    width: 500px;
    font-size: 2em;
    margin-top: 30%;
  }
  .carousel__item {
    width: 530px;
    height: 500px;
  }

  .carousel__item[data-pos="-1"] {
    transform: translateX(-30%) scale(0.8);
  }

  .carousel__item[data-pos="1"] {
    transform: translateX(30%) scale(0.8);
  }

  .carousel__item[data-pos="-2"] {
    transform: translateX(-50%) scale(0.7);
  }

  .carousel__item[data-pos="2"] {
    transform: translateX(50%) scale(0.7);
  }
}

/* Adjusting for small screens */
@media (max-width: 767px) {
  body {
    background-color: white;
  }
  .card {
    width: 280px;
    padding: 1em;
  }
}

/* Very small screens */
@media (max-width: 480px) {
  body {
    background-color: #d7f9f1;
  }
  .carousel {
    padding: 0;
    padding-top: 10%;
  }
  .card {
    width: 300px;
    margin: 0 auto;
  }
  .carousel__item {
    width: 200px;
    height: 200px;
  }

  .carousel__item[data-pos="-1"] {
    transform: translateX(-30%) scale(0.8);
  }

  .carousel__item[data-pos="1"] {
    transform: translateX(30%) scale(0.8);
  }

  .carousel__item[data-pos="-2"] {
    transform: translateX(-50%) scale(0.7);
  }

  .carousel__item[data-pos="2"] {
    transform: translateX(50%) scale(0.7);
  }
}

/* Footer icons */
.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: black;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.share {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #353c4a;
  border: 0.2rem solid black;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}

.share:last-child {
  margin-right: 0;
}

.share:focus {
  outline-color: inherit;
}

.linkedin:hover,
.linkedin:focus {
  color: #00aced;
  box-shadow: 0 0 24px 0 #00aced;
  background-color: #00aced;
}

.youtube:hover,
.youtube:focus {
  color: #cd201f;
  box-shadow: 0 0 24px 0 #cd201f;
  background-color: #cd201f;
}

.instagram:hover,
.instagram:focus {
  color: #e4405f;
  box-shadow: 0 0 24px 0 #e4405f;
  background-color: #e4405f;
}
/* ----------------FOR FOOTER-------------------- */
.footer {
  z-index: 1;
  --footer-background: orange;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  padding-top: 3rem;
}

.footer .bubbles {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* Adjust the width if you want more narrow bubbles */
  height: 2rem; /* Adjust height for the bubble area */
  background: var(--footer-background);
  filter: url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.footer .content {
  z-index: 2;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

.footer .content a,
.footer .content p {
  color: #f5f7fa;
  text-decoration: none;
}

.footer .content b {
  color: white;
}

.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

.footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .content > div > div {
  margin: 0.25rem 0;
}

.footer .content > div > div > * {
  margin-right: 0.5rem;
}

.footer .content .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
