/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #effffa;
}
@media (max-width: 480px) {
  body {
    background-color: #effffa;
  }
  .banner {
    height: 55px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: black;
    font-weight: bolder;
    margin-top: 20px;
  }
  .banner p {
    color: wheat;
    text-align: center;
    font-size: 2.5em;
  }
}
@media (max-width: 767px) {
  .body {
    background-color: #effffa;
  }
  .carousel {
    padding: 15% 0 0 0;
  }
  .banner {
    height: 30px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: black;
    font-weight: bolder;
  }
  .banner p {
    padding-top: 3px;
    color: wheat;
    text-align: center;
    font-size: 1.2rem;
  }
}
.banner {
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: black;
  font-weight: bolder;
}
.banner p {
  padding-top: 3px;
  color: wheat;
  text-align: center;
  font-size: 1.2rem;
}

.link {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}

.link__svg {
  width: 90%;
  height: auto;
  transform-box: fill-box;
  fill: #2b3338;
  stroke: #2b3338;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* .link__cloud {
  transform-origin: 50% 50%;
  animation: rotate 60s linear infinite;
 
  font-weight: 100px;
} */

.link__face,
.link__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}

.link:hover .link__face,
.link:hover .link__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.link__arrow {
  stroke-width: 0.075em;
}

.link__text {
  animation: rotateReverse 20s linear infinite;
  transform-origin: 50% 50%;
}

.link:hover .link__text {
  animation-play-state: paused;
}

.link--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
