/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  body {
    background-color: #d7f9f1;
  }
}
.banner {
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: black;
  font-weight: bolder;
}
.banner p {
  padding-top: 3px;
  color: wheat;
  text-align: center;
  font-size: 1.2rem;
}
.banner {
  height: 55px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: black;
  font-weight: bolder;
  margin-top: 20px;
}
.banner p {
  color: wheat;
  text-align: center;
  font-size: 2.5em;
}
