body {
  background-color: #e2dfda;
  font-family: Arial, sans-serif;
}

h2{
  padding-top: 3rem;
  text-align: center;
}
h3{
  text-align: center;
  
}
p{
  padding-top: 0.5rem;
  font-size: 1rem;
  /* text-decoration: solid; */
  text-align: left;

}
.underline {
  font-weight: bold;
  font-size: 1.5rem;
  color: orange;
  padding: 0px  3px 0px 3px;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 1px;
}


.skills {
  background-color: var(--bg-color);
  padding-top: 0;
}

.skills-container {
  display: grid;
  grid-template-columns: 0.5fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  gap: 2.5rem;
  padding-top: 2rem;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;

}

.skill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 padding: 5rem;
}

.skill-info i {
  font-size: 8rem;
}

.skill-info {
  margin: 2rem 0;
  font-weight: 800;
}

.skill-info ul {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.skill-info li {
  text-align: left;
}

section {
  min-height: 100vh;
  padding: 10rem 12%;
}
@media (max-width: 480px) {

  .banner {
    height: 55px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: black;
    font-weight: bolder;
    margin-top: 20px;
  }
  .banner p {
    color: wheat;
    text-align: center;
    font-size: 2.5em;
  }
}


/* Medium screens (Tablets) */
@media (min-width: 768px) and (max-width: 1023px) {

  .banner {
    height: 30px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: black;
    font-weight: bolder;
  }
  .banner p {
    padding-top: 3px;
    color: wheat;
    text-align: center;
    font-size: 1.2rem;
  }
}


.banner {
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: black;
  font-weight: bolder;
}
.banner p {
  padding-top: 3px;
  color: wheat;
  text-align: center;
  font-size: 1.2rem;
}

