* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: wheat;
  --second-bg-color: #001005;
  --text-color: black;
  --main-color: #3a393b;
  --about-me-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h4 {
  font-size: 3em;
  padding: 10px;
  line-height: 1.2;
}

section {
  min-height: 100vh;
  padding: 5rem 12%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  display: inline-block;
  width: 100%;
  font-size: 3em;
  line-height: 1.2;
  height: 1em;
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
  animation: fadeInUp 2s ease-in-out;
  margin: 13px;
}

.skills {
  background-color: var(--bg-color);
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  gap: 2.5rem;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.skill-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.skill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5rem;
}

.skill-info i {
  font-size: 8rem;
}

.skill-info h4 {
  margin: 2rem 0;
  font-weight: 800;
}

.skill-info ul {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.skill-info li {
  text-align: left;
}

.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: black;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.share {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #353c4a;
  border: 0.2rem solid black;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}

.share:last-child {
  margin-right: 0;
}

.share:focus {
  outline-color: inherit;
}

.linkedin:hover,
.linkedin:focus {
  color: #00aced;
  box-shadow: 0 0 24px 0 #00aced;
  background-color: #00aced;
}

.youtube:hover,
.youtube:focus {
  color: #cd201f;
  box-shadow: 0 0 24px 0 #cd201f;
  background-color: #cd201f;
}

.instagram:hover,
.instagram:focus {
  color: #e4405f;
  box-shadow: 0 0 24px 0 #e4405f;
  background-color: #e4405f;
}
/* ----------------FOR FOOTER-------------------- */
.footer {
  z-index: 1;
  --footer-background: orange;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  padding-top: 3rem;
}

.footer .bubbles {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* Adjust the width if you want more narrow bubbles */
  height: 2rem; /* Adjust height for the bubble area */
  background: var(--footer-background);
  filter: url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.footer .content {
  z-index: 2;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

.footer .content a,
.footer .content p {
  color: #f5f7fa;
  text-decoration: none;
}

.footer .content b {
  color: white;
}

.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

.footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .content > div > div {
  margin: 0.25rem 0;
}

.footer .content > div > div > * {
  margin-right: 0.5rem;
}

.footer .content .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  section {
    padding: 2em;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 52vw;
  }

  .contact form {
    flex-direction: column;
  }
}

/* Animation 1 */
#textSlider.row {
  margin-top: 20vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  width: 100% !important;
}
#textSlider div {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.slideCol {
  overflow: hidden;
  font-weight: 900;
  font-size: 5em;
  display: block;
  white-space: nowrap;
  text-align: end;
}
.slideCol p {
  margin: 0px !important;
}

.scroller {
  height: 70pt;
  line-height: 70pt;
  overflow: hidden;
}
.scroller .inner {
  animation: 10s normal infinite running scroll;
}
@keyframes scroll {
  0% {
    margin-top: 0px;
  }
  15% {
    margin-top: 0px;
  }

  25% {
    margin-top: -70pt;
  }
  40% {
    margin-top: -70pt;
  }

  50% {
    margin-top: -140pt;
  }
  65% {
    margin-top: -140pt;
  }

  75% {
    margin-top: -210pt;
  }
  90% {
    margin-top: -210pt;
  }

  100% {
    margin-top: 0px;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    transform: translate(-50%, -50%);
  }
  .iamCol {
    text-align: center;
    font-size: 20pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 20pt;
    text-align: center;
    margin-top: -20px;
  }
  h1#page-logo {
    transform: translate(-50%, -50%);
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  h2#page2-logo {
    margin-right: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 765px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: center;
    font-size: 25pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 38pt;
    text-align: center;
    margin-top: -20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: center;
    font-size: 30pt;
  }
  .iamCol p {
    display: inline !important;
  }
  .slideCol {
    font-size: 50pt;
    text-align: center;
    margin-top: 5px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .iamCol {
    text-align: right;
    font-size: 30pt;
  }
  .slideCol {
    font-size: 55pt;
    text-align: left;
  }
}

/* Animation 2 */
.logo-container {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
    height: 4px;
    background-color: #cf0000;
    transform-origin: center center;
    transform: scaleX(0);

    animation: line-animation 3s ease infinite alternate;
  }

  h1#page-logo {
    font: bold 6rem "Arial", sans-serif;
    text-align: end;
    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
  h2#page2-logo {
    font: bold 6rem "Arial", sans-serif;
    text-align: end;
    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
}

/* @keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 20px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  70% {
    transform: scaleX(0.2);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
} */

@keyframes clip-path-reveal-1 {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Animation 3 */
.content-1 {
  width: 100%;
  max-width: 60ch;
  margin: 0;
  padding-top: 3rem;
}

.marquee {
  position: relative;
  width: 100%;
  height: 1.5em;
  font-size: 5em;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.marquee_text {
  position: absolute;
  min-width: 100%;
  white-space: nowrap;
  animation: marquee 30s infinite linear;
}

@keyframes marquee {
  from {
    translate: 70%;
  }
  to {
    translate: -70%;
  }
}

.marquee_blur {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: black;
  background-image: linear-gradient(to right, white, 1rem, transparent 50%),
    linear-gradient(to left, white, 1rem, transparent 50%);
  filter: contrast(15);
}

.marquee_blur p {
  filter: blur(0.07em);
}

.marquee_clear {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
#typed-text {
  font-size: 4em; /* Adjust to your preference */
}

/* Smaller font size on small screens */
@media (max-width: 600px) {
  #typed-text {
    font-size: 1.5em; /* Adjust for smaller screens */
  }
}
